@using STM.GDA.Web.Models
@model List<DependanceModelListe>

@foreach (var environnementInfo in Model)
{
    <div class="envTab" >
        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.Web)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.WebText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.BDs)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.BDsText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.Rapports)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.RapportsText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.Interfaces)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.InterfacesText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.Jobs)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.JobsText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-3">
                @Html.DisplayNameFor(x => environnementInfo.Externes)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(x => environnementInfo.ExternesText)
            </div>
        </div>
    </div>
}