@using STM.GDA.Web.Models
@model DependanceModelListe

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.Web)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.WebText)
    </div>
</div>

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.BDs)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.BDsText)
    </div>
</div>

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.Rapports)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.RapportsText)
    </div>
</div>

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.Interfaces)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.InterfacesText)
    </div>
</div>

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.Jobs)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.JobsText)
    </div>
</div>

<div class="value">
    <div class="col-md-3">
        @Html.DisplayNameFor(m => m.Externes)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.ExternesText)
    </div>
</div>