@section Styles {
    <link href="@Url.Content("~/Content/ComposantDetails.css")" rel="stylesheet" type="text/css" />
}

@model STM.GDA.Web.Models.ComposantModel

<div class="container">
    <div class="col-md-4">
        @Html.ActionLink("Retour  à la lise", "Index") <br>
        <h3>Détails</h3>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.Nom)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Nom)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.Abrevriation)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Abrevriation)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.Version)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Version)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.Description)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Description)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.Type)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Type.Nom)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.ResonsablesText)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.ResonsablesText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.ClientsText)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.ClientsText)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.NomBD)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.NomBD)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.SourceControlPath)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.SourceControlPath)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.SourceControlPath)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.SourceControlPath)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.BC)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.BC)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.BW)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.BW)
            </div>
        </div>

        <div class="value">
            <div class="col-md-4 align-right">
                @Html.DisplayNameFor(m => m.DerniereMAJ)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.DerniereMAJ)
            </div>
        </div>

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
</div>
