@section Styles {
    <link href="@Url.Content("~/Content/ComposantModifier.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@model STM.GDA.Web.Models.ComposantModel

@Html.ActionLink("Retour à la liste", "Index")
<h3>Modification</h3>
<div class="container">
    <div class="col-md-5">
        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Nom)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Abreviation)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.Abreviation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Abreviation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Version)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.Version, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Version, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Description)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Type)
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Type.Id, (IEnumerable<SelectListItem>)ViewBag.ListeTypes, new { @class = "form-control" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Responsables)
            </div>
            <div class="col-md-9">
                @Html.ListBox("ResponsablesSelectionnes", new MultiSelectList((IEnumerable<SelectListItem>)ViewBag.ListeResponsables, "Value", "Text", Model.Responsables.Select(x => x.Id)), new { style = "width: 100%;" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.Clients)
            </div>
            <div class="col-md-9">
                @Html.ListBox("ClientsSelectionnes", new MultiSelectList((IEnumerable<SelectListItem>)ViewBag.ListeClients, "Value", "Text", Model.Clients.Select(x => x.Id)), new { style = "width: 100%;" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.NomBD)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.NomBD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.NomBD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.SourceControlPath)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.SourceControlPath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.SourceControlPath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.BC)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.BC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value">
            <div class="col-md-3 align-right">
                @Html.DisplayNameFor(m => m.BW)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.BW, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BW, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <button type="button" id="btnSauvegarder" class="btn btn-default">Sauvegarder</button>
    <button type="button" id="btnAnnuler" class="btn btn-default">Annuler</button>
</div>

<script>
    $(document).ready(function () {
        $("#ClientsSelectionnes").chosen();
        $("#ResponsablesSelectionnes").chosen();
    });

    $("#btnAnnuler").click(function () {
        window.location.href = '@Url.Action("Details", "Composant", new { id = @Html.Raw(Json.Encode(Model.Id)) })';
    });

    $("#btnSauvegarder").click(function () {
        CallController(
            "@Url.Action("Modifier", "Composant")",
            {
                composant: {
                    Id: @Html.Raw(Json.Encode(Model.Id)),
                    Nom: $("#Nom").val(),
                    Abreviation: $("#Abreviation").val(),
                    Version: $("#Version").val(),
                    Description: $("#Description").val(),
                    Type: { Id: $("#Type_Id").val(), Nom: null },
                    ResponsablesSelectionnes: $("#ResponsablesSelectionnes").val(),
                    ClientsSelectionnes: $("#ClientsSelectionnes").val(),
                    NomBD: $("#NomBD").val(),
                    SourceControlPath: $("#SourceControlPath").val(),
                    BC: $("#BC").val(),
                    BW: $("#BW").val()
                }
            }
        );
    });
</script>
