@section Styles {
    <link href="@Url.Content("~/Content/ComposantModifier.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@model STM.GDA.Web.Models.ComposantModel

@Html.ActionLink("Retour à la liste", "Index")
<h3>Modification</h3>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-5">
            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.Nom)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.Abreviation)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Abreviation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Abreviation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.Version)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.Description)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.NomBD)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NomBD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomBD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.SourceControlPath)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SourceControlPath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SourceControlPath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.BC)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.BC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="value">
                <div class="col-md-3 align-right">
                    @Html.DisplayNameFor(m => m.BW)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.BW, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BW, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <input type="submit" value="Sauvegarder" class="btn btn-default" />
        <button type="button" id="btnAnnuler" class="btn btn-default">Annuler</button>
    }
</div>

<script>
    $("#btnAnnuler").click(function () {
        window.location.href = '@Url.Action("Details", "Composant", new { id = @Html.Raw(Json.Encode(Model.Id)) })';
    });
</script>
